@import "@/app/common.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  padding: 0 24px;
  border-bottom: 1px solid rgba(#000, 0.06);
  z-index: 99;
  background: #fffbfb;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    color: rgba(#000000, 85%);
    font-size: 16px;
  }

  .left-contain {
    .main-logo {
      display: flex;
      height: $headerHeight;
      align-items: center;
    }
  }

  .right-contain {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .nav-list {
      display: flex;
      align-items: center;
      gap: 12px;

      .nav-item {
        overflow: hidden;
        height: 100%;
        border-radius: 8px;
        border: 2px solid transparent;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          border: 2px solid #4c4c4c;
        }

        &.active {
          background-color: #4c4c4c;

          a {
            color: #fff;
          }
        }

        a {
          padding: 8px 12px;
          transition: color 0.2s;
        }
      }
    }
  }
}
